.product-card-container {
    display: flex;
    width: 620px;
    height: 490px;
}
.product-card-description {
    width: 500px;
    justify-content: space-evenly;
}
.product-card-container > picture > img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
}